@import url("https://fonts.googleapis.com/css2?family=Russo+One&family=Gugi&display=swap");

@import "tailwindcss";

@theme {
  --font-russo: "Russo One", sans-serif;
  --font-gugi: "Gugi", cursive;
}

html,
body {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
